<mat-toolbar class="custom-toolbar"
  ><button mat-icon-button (click)="collapsedState()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>
    <span class="blink-title-black">Blink</span>
    <span class="blink-title-white">It</span>
  </span>

  <span class="space-between"></span>
 
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    class="mat-sidenav"
    [mode]="isScreenSmall ? 'over' : 'side'"
    [opened]="!isScreenSmall || sidenavOpened"
    [style.width]="sidenavWidth()" 
  >
  
    <mat-nav-list>
      <a
        mat-list-item
        *ngFor="let item of menus"
        [routerLink]="item.label !== 'Logout' ? item.redirectURL : null"
        (click)="item.label === 'Logout' ? logout() : null"
      >
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span matListItemTitle>{{ item.label }}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
 <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
